
.about-section {
  position: relative;
  height: 410px;
  margin: 50px 60px 0 60px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
  background: transparent;
}

#tsparticles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 440px;
  z-index: 0;
}

.about-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 40px;
  line-height: 1.5;
}
.about-btn.btn {
  background-color: black !important;
  border: none !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 20px;
  border-radius: 50px;  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: none;
}
.About-h1 {
  font-size: 33px;
  font-weight:600;
}
.About-p {
    font-size: 18px;
    font-weight: 300;
    margin-left: 70px;
    margin-right: 70px;
}