
.announcement-bar {
  width: 100%;
  height: 38px;
  background-color: #079560;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  align-content: center;
  position: relative;
}

.announcement-track {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.announcement-track p {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.announcement-track img,
.icon-white {
  width: 27px;
  height: 27px;
  filter: brightness(0) invert(1);
}

.announcement-bar:hover .announcement-track {
  animation-play-state: paused;
}