html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.carousel-img {
  height: 530px;          
}

.carousel-item {
  transition: transform 1s ease-in-out;
}
