.courses-cat {
  background: #f2f2f2 !important;
  color: #000;
  padding: 60px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  margin-top: -40px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.cat-subtitle {
  color: #000;
  font-size: 14px;
  margin-bottom: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cat-title {
  font-size: 40px;
  font-weight:600;
  margin-bottom: 5px;
  line-height: 1.3;
  text-align: center; 
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-top: 25px;
}

.course-box {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 22px;
  text-align: left;
  width: 260px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.course-box:hover {
  background: #e7fef5;
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(7, 149, 96, 0.15);
}

.icon-wrapper {
  background: #e7fef5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.course-icon {
  font-size: 26px;
  color: #079560;
  transition: all 0.3s ease;
}

.course-box:hover .icon-wrapper {
  background: linear-gradient(135deg, #079560, #38ef7d);
}

.course-box:hover .course-icon {
  color: #fff;
  transform: scale(1.1);
}

.course-info {
  display: flex;
  flex-direction: column;
 
}

.course-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  background: linear-gradient(135deg, #079560, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course-subtitle {
  font-size: 13px;
  color: #000;
  padding: 4px 10px;
  border-radius: 16px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s ease;
  background: #fff;
}
.course-box:hover .course-subtitle {
  background: #079560;
  color: #fff;
  border-color: #079560;
}

.about-btn-course.btn {
  background-color: #079560 !important;
  border: none !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 40px;
  box-shadow: none;
  transition: background 0.3s ease;
}

.about-btn-course.btn:hover {
  background-color: #067b4e !important;
}

@media (max-width: 992px) {
  .course-box {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .course-box {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .icon-wrapper {
    margin-bottom: 10px;
  }

  .course-info {
    align-items: center;
  }
}
