
.cg-section {
   background: #fff;
  color: #46534d;
  padding: 100px 70px;
  font-family: "Poppins", sans-serif;
  
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.courses-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  justify-items: center;
}

@media (max-width: 992px) {
  .courses-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .courses-wrapper {
    grid-template-columns: 1fr;
  }
}

.cg-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  height: 430px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.cg-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}

.cg-image {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.cg-card-body {
  padding: 20px;
  text-align: center;
}

.cg-course-title {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
}

.cg-by {
  font-size: 14px;
  color: #888;
  margin-bottom: 12px;
}

.cg-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.cg-stars {
  color: #f4b400;
  display: flex;
  gap: 3px;
  margin-right: 6px;
}

.cg-rate {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.cg-btn-details {
background:  #079560;
  border: none;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.cg-btn-details:hover {
  background-color: #009a6e;
  transform: translateY(-2px);
}

.btn-green {
  background-color:  #079560;
  color: #fff;
  border: none;
  padding: 22px 542px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-green:hover {
  background-color: #009a6e;
  transform: translateY(-3px);
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 55px;
}


@media (max-width: 992px) {
  .cg-section {
    padding: 50px 30px;
  }
}

@media (max-width: 600px) {
  .cg-section {
    padding: 40px 20px;
  }
}
