.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -70);
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
    color: #3c4852;
  font-family: "Jost", sans-serif !important;
  box-sizing: border-box;

}
.col-lg-6,
.col-md-12 {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  box-sizing: border-box;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
@media (max-width: 991.98px) {
  .col-lg-6 {
    width: 100%;
  }
}
.w-100 {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-lg-0 {
  margin-bottom: 0 !important;
}
.font-32 {
  font-size: 32px;
  font-weight: 600;
  color: var( #3c4852);
  line-height: 1.3;
  margin-bottom: 15px;
  margin-right: 30px;
}

.font-15 {
  font-size: 19px;
  color: #3c4852;
  font-weight: 500;
   margin-right: 30px;

}

.l-h-1 {
  line-height: 1.6;
}
