.footer {
  background-color: #079560;
  color: #fff;
  padding: 60px 0 5px; 
  font-family: "Jost", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
}

.footer-about {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-logo-box {
  background: transparent;
  padding: 0;
  margin-bottom: 12px;
}

.footer-logo {
  width: 280px;
}

.footer-desc {
  font-size: 18px;
  color: #f4f4f4;
  line-height: 1.7;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 5px; 
}

.social-icon {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  color: #079560;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  transition: 0.3s;
}

.social-icon:hover {
  background-color: #e9e9e9;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 2;
  gap: 35px;
  flex-wrap: nowrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-width: 180px;
}

.footer-column h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 600;
}

.footer-column a {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #fff;
  font-weight: 500;
}

.footer-column.contact p {
  color: #f4f4f4;
  font-size: 18px;
  margin: 5px 0;
  line-height: 1.6;
}

.footer-column.contact i {
  color: #fff;
  margin-right: 8px;
}

.divider {
  height: 0.5px; 
  background: #079560;
  border: none;
  border-top: 2px solid darkslategrey;
  margin-top: 140px;
  width: 100%;
  display: block;
}



.footer-bottom {
  text-align:left ;
}

.footer-bottom p {
  font-size: 18px;
  color: #f4f4f4;
  margin: 0;
}

@media (max-width: 992px) {
  .footer-links {
    flex-wrap: wrap;
    gap: 25px;
  }

  .footer-column {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 25px;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .footer-column {
    width: 100%;
  }

  .footer-logo {
    width: 150px;
  }
}
