.apply-section {
  background: #fff;
  padding-bottom: 60px;
  color: #333;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 30px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #079560;
  border-radius: 20px;
}

/* Timeline */
.cus-container {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px; 
  height: 100%;
  background: #079560;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-row {
  position: relative;
}

/* Points */
.timeline-point {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 4px solid #079560;
  border-radius: 50%;
  z-index: 2;
}

/* Process Boxes */
.process-box {
  background: #fff;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  border: 4px solid #079560;
  position: relative;
  transition: all 0.4s ease;
  z-index: 2;
}

.process-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.process-left {
  margin-right: auto;
  text-align: right;
}

.process-right {
  margin-left: auto;
  text-align: left;
}

/* Step Container */
.process-step {
  background: #079560; /* green background */
  padding: 10px;
  border-radius: 10px;
  color: #fff; /* white text */
  text-align: center;
}

.process-step p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.process-step h2 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

/* Card Content */
.process-box h5 {
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}
.process-box p {
  color: #333;
  margin: 0;
}

/* Responsive */
@media (max-width: 992px) {
  .cus-container {
    width: 95%;
  }
  .process-box {
    margin-bottom: 30px;
  }
  .process-left,
  .process-right {
    text-align: left;
  }
  .timeline-point {
    left: 50%;
  }
}
