.courses-section {
  background: #fff;
  color: #46534d;
  padding: 100px 70px;
  font-family: "Poppins", sans-serif;
  
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.about-btn-course1.btn {
  background-color: #079560 !important;
  border: none !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 20px;
  box-shadow: none;
  transition: background 0.3s ease;
}


.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.text-col {
  flex: 1 1 55%;
  min-width: 300px;
}

.heading {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.text-reveal span {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  animation: revealText 1s forwards;
}

.text-reveal span:nth-child(1) {
  animation-delay: 0ms;
}
.text-reveal span:nth-child(2) {
  animation-delay: 200ms;
}
.text-reveal span:nth-child(3) {
  animation-delay: 400ms;
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.description {
  font-size: 15px;
  line-height: 1.7;
  color: #46534d;
  max-width: 600px;
}

.btn-col {
  flex: 1 1 40%;
  text-align: right;
  min-width: 250px;
}

.btn-green {
  background:  #079560;
  border: none;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-green:hover {
  background:  #079560;
}

.courses-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 25px;
}

.course-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  height: 430px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.course-card:hover {
  transform: translateY(-8px);
}

.course-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.course-details {
  padding: 20px;
}

.course-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
   color: #46534d !important;

}

.by-text {
   color:#079560;
  font-size: 13px;
  margin-bottom: 25px;
}

.rating {
  display: flex;
  align-items: center;
  color: orange;
  font-size: 16px;
  margin-bottom: 25px;
}

.stars svg {
  margin-right: 4px;
}

.rate {
  margin-left: 5px;
   color:#079560;
    font-weight: 500;
}

.btn-green-sq {
  background:  #079560;
  border: none;
  color: white;
  padding: 16px 130px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn-green-sq:hover {
  background:  #079560;
}

/* Responsive */
@media (max-width: 992px) {
  .btn-col {
    text-align: left;
    margin-top: 20px;
  }
  .courses-section {
    padding: 80px 30px;
  }
  .course-img {
    height: 180px;
  }
}
