.solar-hero-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent;
  height: 400px;
}

#solarParticles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.solar-hero-inner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  color: #fff;
  height: 100%;
}

.solar-hero-text {
  flex: 1;
  max-width: 50%;
}

.solar-hero-title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: -40px;
  line-height: 1.3;
}

.solar-hero-desc {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.7;
  margin-left: -40px;
}

.solar-hero-image {
  flex: 1;
  text-align: right;
}

.solar-hero-image img {
  width: 90%;
  max-width: 400px;
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .solar-hero-inner {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
  }

  .solar-hero-text {
    max-width: 100%;
  }

  .solar-hero-image {
    text-align: center;
    margin-top: 30px;
  }

  .solar-hero-image img {
    width: 80%;
  }
}
